@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-outfit: var(--font-outfit);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
}

.btn {
  @apply w-full bg-black text-white px-5 py-2  hover:bg-black/70 transition duration-300 ease-in-out cursor-pointer;
}

.input {
  @apply w-full px-3 py-2 border border-gray-300 outline-none text-gray-700;
}
